body{

    background-color: lightblue;
    margin: 0;
}
.container{

    font-size: 20px;
    background-color: beige;
    border: solid 2px black;

}
.logo{

    font-size: 20px;
    background-color: green;
    width: 60%;
    height: 12%;
    text-align: center;
    float:left;
    
}
.menu{

    font-size: 20px;
    background-color: red;
    height: 3%;
    width: 100%;
    float:left;

}
.blank-l-up{

    font-size: 20px;
    background-color: blueviolet;
    width: 20%;
    height: 12%;
    float:left;

}
.blank-p-up{

    font-size: 20px;
    background-color: blueviolet;
    width: 20%;
    height: 12%;
    float:right;

}
.blank-l-low{

    font-size: 20px;
    background-color: blueviolet;
    width: 20%;
    height: 80%;
    float:left;

}
.blank-p-low{

    font-size: 20px;
    background-color: blueviolet;
    width: 20%;
    height: 80%;
    float:right;

}
.content{

    font-size: 20px;
    background-color: blue;
    width: 60%;
    height: 80%;
    float:left;

}
.footer{

    font-size: 20px;
    background-color: red;
    height: 5%;
    clear:both; /* */

}